<!DOCTYPE html>
<html>
<head>
  <title>MIAGEStage</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- -->

<%= render 'layouts/header' %>
<div class="wrapper content" style="background-color: #F9F9F9; min-height: 100vh">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
