
<h1>Liste des étudiants non inscrit</h1>

<style>
    tr{
        border: #BBBBBB solid 1em;
    }
    table{
        border: #BBBBBB solid
    }
</style>

<div class="card-body p-2 table-responsive">

  <table>
    <thead>
    <tr>
      <th >Numéro étudiant</th>
      <th >Nom</th>
      <th >Prénom</th>

      <th >Email universitaire</th>
      <th >Email personnel</th>
      <th >Statut arrivant</th>

      <th >Mention</th>

    </tr>
    </thead>
    <tbody>
    <% @liste_etudiants_non_inscrit.each do |l| %>
      <tr>
        <td><%= l.num_etudiant %></td>
        <td><%= l.nom %></td>
        <td><%= l.prenom %></td>
        <td><%= l.email_universitaire %></td>
        <td><%= l.email_personnel %></td>
        <td><%= l.statut_arrivant_L3 %></td>
        <td><%= l.mention %></td>

      </tr>
    <% end %>
    </table>


  <br>

</div>