<%= stylesheet_link_tag "evaluation" %>

<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Visualisation de votre fiche d'auto-évaluation</span>
</div>

<form>
  <div class="m-4 pt-4">

    <div class="section">
      <div class="block pb-4">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Légende</span>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex my-1">
            <div class="requis px-5">
              <input type="radio" disabled>
            </div>
            <label class="formLabel text-mediumblue mx-2 w-auto"> Niveau de compétence requis </label>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Informations générales</span>
        </div>
        <div class="d-flex flex-column align-items-start">

<% @jsonGrille.each do |key, value|
  if (key != 'sections' && key != 'commentaire') then %>

          <div class="my-2 px-3">
            <label class="capitalized formLabel text-mediumblue"> <%=key %> : </label>
            <label class="font-bold text-mediumblue"> <%=value %> </label> <br/>
          </div>

  <% end
end %>

        </div>
      </div>
    </div>
<% if @jsonGrille.length > 0 %>
<% @jsonGrille['sections'].each_with_index { |valueData, indexData|%>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class=""><%= valueData['titre'] %></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>

  <% valueData['choix'].each do |valueChoix| %>
            <th class="text-center text-mediumblue"><%= valueChoix %></th>
  <% end %>

            </tr>
          </thead>
          <tbody>

  <% valueData['competences'].each do |valueComp| %>

            <tr>
              <td class="text-mediumblue"> <%= valueComp['intitule'] %> </td>

    <% valueData['choix'].each_with_index { |val, index|
      if index == valueComp['requis'] then
        if index == valueComp['selection'] then %>

              <td class="text-center">
                <div class="requis">
                  <input type="radio" disabled checked name="<%= valueComp['intitule'] %>">
                </div>
              </td>

        <% else %>

              <td class="text-center">
                <div class="requis">
                  <input type="radio" disabled name="<%= valueComp['intitule'] %>">
                </div>
              </td>

      <% end
      else
        if index == valueComp['selection'] then %>

              <td class="text-center">
                <input type="radio" disabled checked name="<%= valueComp['intitule'] %>">
              </td>

        <% else %>

              <td class="text-center">
                <input type="radio" disabled name="<%= valueComp['intitule'] %>">
              </td>

        <% end
      end
    } %>

            </tr>

  <% end %>

          </tbody>
        </table>
      </div>
    </div>

<% }
if @jsonGrille.has_key?('commentaire') then
  if @jsonGrille['commentaire'] != '' then %>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Espace de commentaire</span>
        </div>
        <div class="d-flex">
          <label> <%= @jsonGrille['commentaire'] %> </label>
        </div>
      </div>
    </div>

  <% end
end %>
    <% end %>
  </div>
</form>
