
<body>

Vous avez attribué à l'étudiant <strong> <%=@etudiant.prenom%> <%=@etudiant.nom %> </strong> le tuteur <strong> <%= @tuteur.prenom %>  <%=@tuteur.nom %></strong>

 <p>
   <%= link_to " <=Retournez à l'accueil", home_path, :style =>'background-color: red; color:black;' %>
 </p>

</body>

