<%= form_with model: @tuteur_universitaire, remote: true, local: false do |form| %>

  <div class="row mb-3">
    <div class="col">
      <%= form.label :nom, 'Nom', class: 'form-label' %>
      <%= form.text_field :nom, class: 'form-control' %>

      <% tuteur_universitaire.errors.full_messages_for(:nom).each do |message| %>
        <div class="text-danger" style="font-size: small"><%= message %></div>
      <% end %>
    </div>

    <div class="col">
      <%= form.label :prenom, 'Prénom', class: 'form-label' %>
      <%= form.text_field :prenom, class: 'form-control' %>

      <% tuteur_universitaire.errors.full_messages_for(:prenom).each do |message| %>
        <div class="text-danger" style="font-size: small"><%= message %></div>
      <% end %>
    </div>

    <div class="col">
      <%= form.label :alias, 'Alias', class: 'form-label' %>
      <%= form.text_field :alias, class: 'form-control' %>
    </div>

    <% tuteur_universitaire.errors.full_messages_for(:alias).each do |message| %>
      <div class="text-danger" style="font-size: small"><%= message %></div>
    <% end %>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= form.label :email, 'Email', class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <% tuteur_universitaire.errors.full_messages_for(:email).each do |message| %>
      <div class="text-danger" style="font-size: small"><%= message %></div>
    <% end %>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= form.label :fonction, 'Fonction', class: 'form-label' %>
      <%= form.text_field :fonction, class: 'form-control' %>
    </div>

    <% tuteur_universitaire.errors.full_messages_for(:fonction).each do |message| %>
      <div class="text-danger" style="font-size: small"><%= message %></div>
    <% end %>
  </div>


  <div class="row mb-3">
    <div class="col">
      <%= form.label :localisation, 'Localisation', class: 'form-label' %>
      <%= form.text_field :localisation, class: 'form-control' %>
    </div>

    <% tuteur_universitaire.errors.full_messages_for(:localisation).each do |message| %>
      <div class="text-danger" style="font-size: small"><%= message %></div>
    <% end %>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= form.label :statut_encadrant, 'Statut de l\'encadrant', class: 'form-label' %>
      <%= form.select :statut_encadrant, TuteurUniversitaire.statut_encadrants.keys, {}, { class: 'form-select' } %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col"></div>
    <div class="col text-center">
      <%= form.submit 'Enregistrer', class: 'btn btn-primary' %>
    </div>
    <div class="col"></div>
  </div>

<% end %>